.full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo {
  position: absolute;
  top: 0.7em;
  left: 2em;
}
.highlight {
  height: 5em;
  background-color: rgba(255, 255, 255, 0.1);
}
